<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="responsive.css"/>
</head>
<body>
<div class="header">
    <h1>Трудовой договор</h1>
</div>
<div>
    <div>
        exchangeName - ${exchangeName}
    </div>
    <div>
        routingKey - ${routingKey}
    </div>
    <p>
        passport - ${data}
    </p>
</div>
<div>
    <p>
        Трудовой договор - соглашение между работодателем и работником, в соответствии с которым работодатель обязуется предоставить работнику работу по обусловленной трудовой функции, обеспечить условия труда, предусмотренные трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права, коллективным договором, соглашениями, локальными нормативными актами и данным соглашением, своевременно и в полном размере выплачивать работнику заработную плату, а работник обязуется лично выполнять определенную этим соглашением трудовую функцию в интересах, под управлением и контролем работодателя, соблюдать правила внутреннего трудового распорядка, действующие у данного работодателя.
        (в ред. Федеральных законов от 30.06.2006 N 90-ФЗ, от 05.05.2014 N 116-ФЗ)
        (см. текст в предыдущей редакции)
        Сторонами трудового договора являются работодатель и работник.
    </p>
</div>
</body>
</html>
