<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="responsive.css"/>
</head>
<body>
<div class="header">
    <h1>Бесплатные инструменты для студентов</h1>
</div>
<div>
    <div>
        exchangeName - ${exchangeName}
    </div>
    <div>
        routingKey - ${routingKey}
    </div>
    <div>
        studentTicket - ${data}
    </div>
</div>
<div>
    <p>
        Индивидуальные лицензии для студентов и преподавателей
        Получите бесплатный доступ ко всем IDE JetBrains для личного пользования в учебном заведении или дома.

        Кто может получить бесплатные индивидуальные лицензии для образования
        Подавать заявки могут студенты и преподаватели из аккредитованных учебных заведений (школ, колледжей и вузов).

        Студенты должны учиться по аккредитованной образовательной программе очной формы обучения длительностью не менее одного года.

        Не уверены, что поняли условия лицензии? Ознакомьтесь со списком вопросов или прочтите полный текст условий здесь.
    </p>
</div>
</body>
</html>
