<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="responsive.css"/>
</head>
<body>
<div class="header">
    <h1>Заявление на академический отпуск</h1>
</div>
<div>
    <div>
        exchangeName - ${exchangeName}
    </div>
    <div>
        routingKey - ${routingKey}
    </div>
    <div>
        studTicket - ${data}
    </div>
</div>
<div>
    <p>
        Академический отпуск — это отпуск, предоставляемый студенту высшего или среднего профессионального учебного заведения по медицинским показаниям и в других исключительных случаях (например, стихийные бедствия, семейные обстоятельства, призыв на службу в армию). Отпуск предоставляется обучающимся в порядке и по основаниям, которые установлены Приказом Министерства образования и науки РФ от 13 июня 2013 г. N 455.
    </p>
</div>
</body>
</html>
