<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="responsive.css"/>
</head>
<body>
<div class="header">
    <h1>Открыть счет в банке</h1>
</div>
<div>
    <div>
        exchangeName - ${exchangeName}
    </div>
    <div>
        routingKey - ${routingKey}
    </div>
    <div>
        passport - ${data}
    </div>
</div>
<div>
    <p>
        Повышенные ставки для клиентов Сбербанк Премьер
        Вложите от 700 000 ₽ или от 50 тыс $ и заработайте больше, чем на обычных вкладах
        Ставка:
        до 3,66%
        Сумма:
        от 700 000 ₽
    </p>
</div>
</body>
</html>
